/* The grid container. Using display grid*/
#container {
  display: grid;
  grid-template-columns: repeat(16, 20px);
  grid-template-rows: repeat(16, 20px);
}

/* The grid element style*/
#grid-element {
  background-color: white;
  border: 1px solid;
  border-color: black;
}
