/* The grid container. Using display grid*/
#container {
  display: grid;
  height: 500px;
  width: 500px;
  background-color: aqua;
}

/* The grid element style*/
#grid-element {
  background-color: white;
  border: 0.5px solid;
  border-color: rgb(124, 124, 124);
}
